
// Fonts
@import url('https://fonts.googleapis.com/css?family=Alegreya');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Alegreya', serif;
}

nav.navbar .navbar-brand{
  font-family: 'Pacifico', cursive;
  font-size: 2rem
}
